@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

:root {
    --default-bg-color: #f1e9db;
    --default-color: #a39b8b;
}

main {
    max-width: 80%;
    margin: 3em auto;
}

/* G and list */

.gendy-dropdown {
    font-size: 16px;
    color: var(--default-color);
}

.gendy-dropdown .gendy-button {
    background-color: var(--default-bg-color);
    position: fixed;
    font-weight: 300;
    top: 5em;
    right: .5em;
    width: 2em;
    height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 3px lightgrey;
    border-radius: 1em .2em .2em 1em;
}

.gendy-dropdown ul {
    position: fixed;
    top: 5em;
    right: .5em;
    margin: 0;
    padding: 1em;
    list-style-type: none;
    background-color: var(--default-bg-color);
    font-weight: 300;
    box-shadow: 2px 2px 3px lightgrey;
    border-radius: 1em .2em 1em 1em;
}

.gendy-list-on {
    visibility: visible;
    transform-origin: top;
    animation: grow 200ms ease-in-out;
}

.gendy-list-off {
    visibility: hidden;
}

@keyframes grow {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

.gendy-dropdown ul li {
    margin: .5em;
}
